        header {
            background: linear-gradient(F3D0D7,FFEFEF);
            border: aqua;
            border-width: 10px 0px 10px 0px;
            margin: 0px;
            text-align: center;
        }

        h1 {
            font-size: 3em;
            color: aqua;
        }


        }

        h3 {
            background:linear-gradient(F6F5F2,F0EBE3);
            padding: 15px;
            font-size: 1.5em;
            border-left: 10px FFEFEF;
        }

        header,
        h3 {
            color: rgb(119, 11, 106);
            font-family: "Papyrus", Gadget, sans-serif;
        }

        body {
            font-family: "Lucida Handwriting", arial, san-serif;
        }

        p,
        ul {
            list-style: none;
            padding-left: 50px;
            font-size: 1.3em;
            font-family: "	Brush Script MT", Lucida Handwriting
            ,cursive;
            color: F3D0D7;
        }

        .emoji {
            font-size: 11em;
        }
        i{color: #2c082a;
        font-family:"Papyrus", Gadget, sans-serif;}

        img{
            height: 249px;
            width: 249px;
            border-radius: 50%;
        }
